
body {
    background-color: lightcyan;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    width: 100%;
    height: auto;
    min-height: 60px;
    background-color: steelblue;
    opacity: 0.8;
    position: absolute;
    top: 0;
    padding: 5px;
    word-wrap: break-word;
}

.listItem {
    list-style-type: none;
    display: inline-block;
    float: right;
    margin-right: 16px;
}

.listItem a {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 15px;
}

#brand {
    float: left;
    font-size: 30px;
    margin-top: 15px;
}

#links {
    font-size: 20px;
    margin-top: 20px;
}

.listItem a:hover {
    color: white;
    font-size: 40px;
    }

img {
    width: 100%;
    margin-top: 70px;
    }

header {
    height: 50vh;
    min-height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#imageBox {
    height: 100%;
    max-height: 250px;
    width: 100%;
    max-width: 250px;
    background-image: url('./Ali2.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid white;
}

#imageBox:hover {
    background-image: url('./Ali_Run1.jpg');
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

#greetingBox {
    color: steelblue;
}

#greetingBox h1 {
    font-size: 40px;
}

#greetingBox {
    font-size: 18px;
    word-wrap: break-word;
    max-width: 600px;
}
